<div class="wrapper">
    <input type="text" class="input-field" [(ngModel)]="inpField" (input)="initTyping()">
    <div class="content-box">
      <div class="typing-text">
        <p id="paragraph">{{ typingText }}</p>
      </div>
      <div class="content">
        <ul class="result-details">
          <li class="time">
            <p>
              Time:
            </p>
            <span><b>{{ timeTag }}</b>s</span>
          </li>
          <li class="mistake">
            <p>
              Mistakes:
            </p>
            <span>{{ mistakes }}</span>
          </li>
          <li class="wpm">
            <p>
              WPM:
            </p>
            <span>{{ wpmIndex }}</span>
          </li>
          <li class="cpm">
            <p>
              CPM:
            </p>
            <span>{{ charIndex - mistakes }}</span>
          </li>
        </ul>
        <button (click)="resetGame()">Try Again</button>
      </div>
    </div>
  </div>
  